Pathwayz/Assets.xcassets/AppIcon.appiconset/Icon-40@2x-1.png
Pathwayz/Assets.xcassets/AppIcon.appiconset/Icon-40@3x-1.png
Pathwayz/Assets.xcassets/AppIcon.appiconset/Icon-60@2x.png
Pathwayz/Assets.xcassets/AppIcon.appiconset/Icon-60@3x.png
Pathwayz/Assets.xcassets/AppIcon.appiconset/Icon-Small@2x.png
Pathwayz/Assets.xcassets/AppIcon.appiconset/Icon-Small@3x.png
